#chat{
    width: 20vw;
    height: 65vh;
    border: 1px solid red;
    overflow: auto;
}

#message-text{
    width: 70%;
}

.from-me{
    margin-top: 10px;
    margin-left: auto;
    border: 1px solid blue;
    border-radius: 5px;
    width: fit-content;
    padding: 1px 2px;
    display: flex;
}

.from-opponent{
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 5px;
    width: fit-content;
    padding: 1px 2px;   
    display: flex;
    align-items: center;
}

.message-from-me{
    margin: auto 0;
}

.del-for-guest{
    display: none;
}

button{
    padding: 0 20px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}